extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/pathways',method='post')

    div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='location') location
    div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='keywords') keywords
         input(id='keywords',type='text',value='',placeholder='enter keywords (e.g. immigrant english)',name='keywords')
    div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
     label(for='limit') limit
        input(id='limit',type='number',value='',placeholder=10, name='limit')
    input(type='submit',value='Get Services',data-transition='fade', data-theme='c')
